<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="userSQL">
 	<!-- 만약에 테이블의 컬럼과 객체의 필드명이 다른 경우 -->
 	<resultMap type="user.bean.UserDTO" id="userResult">
 		<result column="name" property="name" />
 		<result column="id" property="id" />
 		<result column="pwd" property="pwd" />
 	</resultMap>
 	
 	
 	<insert id="write" parameterType="user">
 		insert into usertable values(#{name}, #{id}, #{pwd})
 	</insert>
 	
 	<!-- <select id="getAllList" resultType="user">  -->
 	<select id="getAllList" resultMap="userResult">
 		select * from usertable
 	</select>
 	
 	<select id="getUser" parameterType="String" resultType="user">
 		select * from usertable where id = #{id}
 	</select>
 	
 	<update id="update" parameterType="user">
 		update usertable set name=#{name}, pwd=#{pwd} where id=#{id}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		delete usertable where id=#{id}
 	</delete>
 	
	<select id="search" parameterType="user" resultType="user">
	    select * from usertable
	    <trim prefix="WHERE" prefixOverrides="AND">
	        <if test="name != null and name != ''">
	            name like '%' || #{name} || '%'
	        </if>
	        <if test="id != null and id != ''">
	            and id like '%' || #{id} || '%'
	        </if>
	    </trim>
	</select>


 </mapper>